.App {
  text-align: center;
  /* background-color: #F3F3F3; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.blue-background {
  
  height:908px;
  width: 100vh;
  /* background-color: #F3F3F3; */
  margin-left: 400px;
}

.logo{
  height:54.91px ;
  width: 109.09px;
  margin-top: 90px;
}


.container{
  border-radius: 25px;
  
  border:#e8e8e8 solid 2px;
  box-shadow: 1px 1px 10px 0px rgb(248, 248, 248);
  height: 431px;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 40px;
}